/* Google Fonts Styles */

@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

/* Universal Styling */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

/* Shared Styling */

body {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
  font-family: "Oswald", sans-serif;
  font-weight: 800;
}

h1.text-title {
  color: #3a3a3a;
  font-family: "Oswald";
  font-size: 52px;
  font-weight: 700;
  line-height: 70px;
  margin-bottom: 30px;
}

p.text-description {
  color: #3a3a3a;
  font-size: 16px;
  font-weight: 600;
  line-height: 28px;
  margin-bottom: 30px;
}
button.btn-primary {
  border-radius: 41px;
  background: #e02c6d;
  border: none;
  padding: 15px 35px;
  color: #fff;
  font-size: 16px;
}

button.btn-primary i {
  font-size: 16px;
  margin-left: 5px;
}

/* Nav Styling Start */

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 30px 25px;
}
.dropdown-icon {
  border: none;
  background-color: transparent;
  display: none;
}

.dropdown-icon .fa-bars,
.dropdown-icon .fa-x {
  color: #3a3a3a;
  font-size: 1rem;
  cursor: pointer;
}

.dropdown-icon input[type="checkbox"] {
  appearance: none;
}
.logo-text {
  color: #3a3a3a;
  font-size: 24px;
  font-family: "Oswald";
  font-weight: 800;
}
.navigation {
  display: flex;
  gap: 1rem;
}

ul > li {
  list-style: none;
}

ul > li > a {
  text-decoration: none;
  margin: 0 30px;
  color: #3a3a3a;
  font-size: 18px;
  text-transform: capitalize;
  font-weight: 800;
}

/* Banner Styling Start */

section#banner {
  padding: 120px 0;
}
.banner-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.bannar-left {
  width: 30%;
}
.banner-right {
  background-image: url("../images/Circle\ design.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

/* Sponser Styling Start */

.sponser-container {
  display: flex;
  justify-content: center;
}
.sponser-company-left img {
  padding: 0 30px;
}

.sponser-company-right img {
  padding: 0 30px;
}

/* Responsive Media Query Start*/

/* Large Devices Media Query */

@media screen and (max-width: 992px) {
  /* .navbar {
    display: block;
    flex-direction: column-reverse;
    background-color: lightgray;
  }
  .navigation {
    height: 0;
    overflow: hidden;
    flex-direction: column;
    align-items: center;
    transition: all 0.5s ease-in-out;
  }
  .logo {
    display: flex;
    justify-content: space-between;
  }
  .dropdown-icon {
    display: block;
  }
  .fa-x {
    display: none;
  }
  .navbar:has(.dropdown-icon input[type="checkbox"]:checked) .navigation {
    margin-top: 1rem;
    height: 40vh;
  }
  .navbar:has(.dropdown-icon input[type="checkbox"]:checked) .fa-bars {
    display: none;
  }
  .navbar:has(.dropdown-icon input[type="checkbox"]:checked) .fa-x {
    display: inline-block;
  } */
  .banner-container {
    flex-direction: column-reverse;
  }
  .bannar-left {
    width: 90%;
    margin-top: 100px;
  }
  h1.text-title {
    font-size: 35px;
    margin-bottom: 10px;
  }
  .banner-right {
    background-image: url("../images/Circle\ design.svg");
    background-size: contain;
    background-position: center;
  }
  .banner-right img {
    width: 80%;
    margin-left: 45px;
  }
  /* .sponser-container {
    flex-direction: column;
  } */
  .sponser-company-left img {
    padding: 0 25px;
  }
  
  .sponser-company-right img {
    padding: 0 25px;
  }
  .sponser-company-left{
    margin-bottom: 20px;
  }
}


/* Medium Devices Media Query */


/* Mobile Devices Media Query */
@media screen and (max-width: 576px) {
  .navbar {
    display: block;
    flex-direction: column-reverse;
    background-color: lightgray;
  }
  .navigation {
    height: 0;
    overflow: hidden;
    flex-direction: column;
    align-items: center;
    transition: all 0.5s ease-in-out;
  }
  .logo {
    display: flex;
    justify-content: space-between;
  }
  .dropdown-icon {
    display: block;
  }
  .fa-x {
    display: none;
  }
  .navbar:has(.dropdown-icon input[type="checkbox"]:checked) .navigation {
    margin-top: 1rem;
    height: 40vh;
  }
  .navbar:has(.dropdown-icon input[type="checkbox"]:checked) .fa-bars {
    display: none;
  }
  .navbar:has(.dropdown-icon input[type="checkbox"]:checked) .fa-x {
    display: inline-block;
  }
  .banner-container, .sponser-container {
    flex-direction: column-reverse;
  }
  .bannar-left {
    width: 80%;
    margin-top: 100px;
    text-align: center;
  }
  h1.text-title {
    font-size: 25px;
    margin-bottom: 10px;
  }
 
  .banner-right {
    background-image: url("../images/Circle\ design.svg");
    background-size: contain;
    background-position: center;
  }
  .banner-right img {
    width: 80%;
    margin-left: 45px;
  }
  .sponser-container {
    flex-direction: column;
    text-align: center;
  }
  .sponser-company-left img {
    padding: 0 15px;
  }
  
  .sponser-company-right img {
    padding: 0 15px;
  }
  .sponser-company-left{
    margin-bottom: 20px;
  }
}
